.Inicio {
  display: inline-flex;
  background-color: transparent;
  width: 40%;
  height: 40%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.Inicio .content-wrapper {
  background-color: #14426e;
  background-color: transparent;
  width: fit-content;
}

.Inicio .content-wrapper p {
  font-size: 50px;
  font-weight: 700;
}
