@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.QuestionCard {
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .navigation {
    width: 100%;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    button {
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #E8E8E8;
    }

  }

  .question-content{
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1em 2em;
    background: #F2F2F2;

    h2{
      margin: 0.5em 0;
    }
  }

  .options-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 10px;

    button{
      border: none;
      padding: 1em 1em;
      border-radius: 25px;
      background: #FAFAFA;
    }
  }

  button:hover{
    background: gray;
    color:white
  }

  button.active{
    background: dodgerblue;
    color: white;
  }

  #nav-buttons  {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 1em 0;

    button{
      background-color: transparent;
      border: none;
      padding: 0;
      color: #676666;
      font-size: 32px;
      font-family: 'Work Sans', sans-serif;
    }

    button:hover{
      color: dodgerblue;
    }
  }
}