.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------- Navigation buttons ----------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.nav-button {
  background-color: white; 
  border: none;
  color: #676666;
  padding: 3% 10%;
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
}

.nav-button:hover {
  color: #4A90E1;
}
