@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

#nav-buttons  {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  button{
    background-color: transparent;
    border: none;
    color: #676666;
    padding: 1em 0;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
  }
}
